In [1]:
import pandas as pd
import numpy as np

In [16]:
df3 = pd.read_csv('genes_file.csv')
df3=df3.drop(columns=['Unnamed: 0'])
df3['Sno'] = np.arange(len(df3))+1
df3['Sno'] = df3['Sno'].astype(str)
df3['Sno']= df3['Sno'].str.zfill(4) + 'img'
df3=df3.drop(columns=['x','y'])
#df5.to_csv('df5.csv')
df5=pd.read_csv('Gene_list_df5.csv')
df5=df5.drop(columns=['Unnamed: 0'])
def create_tag_mapping(df3):
    labels = set()
    for i in range(len(df3)):
        gene_name = df3['gene_name'][i].split(' ')
        labels.update(gene_name)
    labels = list(labels)
    labels.sort()
    labels_map = {labels[i]:i for i in range(len(labels))}
    inv_labels_map = {i:labels[i] for i in range(len(labels))}
    return labels_map, inv_labels_map
def create_file_mapping(df3):
    mapping = dict()
    for i in range(len(df3)):
        name, gene_name = df3['Sno'][i], df3['gene_name'][i]
        mapping[name] = gene_name.split(' ')
    return mapping
def one_hot_encode(gene_name, mapping):
    encoding = zeros(len(mapping), dtype='uint8')
    for tag in gene_name:
        encoding[mapping[tag]] = 1
    return encoding
def load_dataset(path, file_mapping, tag_mapping):
    photos, targets = list(), list()
    # enumerate files in the directory
    for filename in listdir(folder):
        # load image
        photo = load_img(path + filename, target_size=(190,314))
        # convert to numpy array
        photo = img_to_array(photo, dtype='uint8')
        # get tags
        gene_name = file_mapping[filename[:-4]]
        # one hot encode tags
        target = one_hot_encode(gene_name, tag_mapping)
        # store
        photos.append(photo)
        targets.append(target)
    X = asarray(photos, dtype='uint8')
    y = asarray(targets, dtype='uint8')
    return X, y
from os import listdir
from numpy import zeros
from numpy import asarray
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array
mapping_csv = df5
tag_mapping, _ = create_tag_mapping(mapping_csv)
file_mapping = create_file_mapping(mapping_csv)
folder = 'C:/Users/Onkar/UntitledFolder/Trainimg_breast2/'
X, y = load_dataset(folder, file_mapping, tag_mapping)
from numpy import savez_compressed
indices = list(np.where((y.sum(axis=0)<3250)))
a = np.delete(y, indices, 1)
X=X/255
genes_left=_
for i in indices[0]:
    if i in genes_left.keys():
        del genes_left[i]
a1=pd.DataFrame(a)
genes=genes_left.values()
list(genes)
a1.columns=genes
a1['Sno'] = df5['Sno']
a1=a1.set_index('Sno')
a1.head()

,A2M,ABCC5,ABHD2,ACADSB,ACADVL,ACTB,ACTG1,ACTN4,ACTR2,ADAM15,...,YIPF3,YPEL3,YWHAB,YWHAE,YWHAQ,YWHAZ,ZFAS1,ZFP36L1,ZNF703,ZNF706
Sno,,,,,,,,,,,,,,,,,,,,,
0001img,0,1,1,0,0,1,1,1,0,1,...,0,1,1,1,1,1,1,1,1,1
0002img,0,1,0,1,1,1,1,0,1,0,...,0,0,1,0,1,1,1,0,1,1
0003img,1,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,0,0,1,1
0004img,1,1,1,1,1,1,1,1,0,1,...,0,1,1,1,1,1,1,0,1,1
0005img,0,0,1,0,1,1,1,1,1,0,...,1,1,1,1,1,1,0,1,1,1

In [2]:
Cluster0 = pd.read_csv('Spots_Cluster_trial.csv')
Cluster1 = pd.read_csv('Spots_Cluster_trial.csv')
Cluster0=Cluster0[Cluster0['Cluster'] == 0]
Cluster1=Cluster1[Cluster1['Cluster'] == 1]
Cluster0.head()

        Sno  Cluster     x      y
5   0006img        0  4049  11715
6   0007img        0  4049  11988
9   0010img        0  4051  12807
13  0014img        0  4285  10759
14  0015img        0  4285  11032

In [3]:
df=pd.read_csv('gene_exp.csv')
df=df.drop(['Unnamed: 0','X1','X2','bar_name'],axis=1)
df2=pd.DataFrame()
df2=df.groupby(['x','y','UMI_Count']).agg('gene_name').apply(lambda x:" ".join(list(set(x)))).reset_index()
df3=pd.read_csv('link_to_img_trial.csv')
df7=df3
df11 = pd.merge(df, df7, on=['x','y'], how='inner')
df11=df11.drop(columns=['Unnamed: 0'])
df12=pd.pivot_table(df11, values='UMI_Count', index=['Sno'],columns=['gene_name'], aggfunc=np.sum)
df13=df12.fillna(0)
#df13.drop([col for col, val in df13.sum().iteritems() if val < 11350], axis=1, inplace=True)
df13.head()

gene_name,A1BG,A1BG-AS1,A2M,A2M-AS1,A2ML1,A4GALT,AAAS,AACS,AADAC,AADAT,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1
Sno,,,,,,,,,,,,,,,,,,,,,
0001img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0002img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
0003img,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
0004img,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0005img,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
Cluster0_genes = pd.merge(df13, Cluster0, on=['Sno'], how='inner')
Cluster1_genes = pd.merge(df13, Cluster1, on=['Sno'], how='inner')
Cluster1_genes.head()

,Sno,A1BG,A1BG-AS1,A2M,A2M-AS1,A2ML1,A4GALT,AAAS,AACS,AADAC,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,Cluster,x,y
0,0001img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4046,10350
1,0002img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,4047,10623
2,0003img,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1,4047,10896
3,0004img,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,4048,11169
4,0005img,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4048,11442

#### Taking Difference between all 24k Genes from Cancer vs Non-Cancer

In [5]:
Cluster1_2=Cluster0_genes[Cluster1_genes.ne(Cluster0_genes).any(axis=1)]
Cluster1_2.head()

,Sno,A1BG,A1BG-AS1,A2M,A2M-AS1,A2ML1,A4GALT,AAAS,AACS,AADAC,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,Cluster,x,y
0,0006img,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4049,11715
1,0007img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,4049,11988
2,0010img,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0,4051,12807
3,0014img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,4285,10759
4,0015img,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0,4285,11032

#### Setting a threshold and Selecting highly Variable Genes

In [17]:
a1.reset_index(level=0, inplace=True)
Cluster1_2_f = Cluster1_2[a1.columns]
Cluster1_2_f.drop(['Sno'],axis=1,inplace=True)
Cluster1_2_f.drop([col for col, val in Cluster1_2_f.sum().iteritems() if val < 4500], axis=1, inplace=True)
Cluster1_2_f.head()

C:\Users\Onkar\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,A2M,ABCC5,ABHD2,ACADSB,ACADVL,ACTB,ACTG1,ACTN4,ACTR2,ADAM15,...,YIPF3,YPEL3,YWHAB,YWHAE,YWHAQ,YWHAZ,ZFAS1,ZFP36L1,ZNF703,ZNF706
0,1.0,4.0,4.0,3.0,2.0,24.0,20.0,1.0,5.0,2.0,...,0.0,1.0,4.0,5.0,0.0,9.0,1.0,2.0,7.0,2.0
1,0.0,2.0,1.0,4.0,0.0,17.0,32.0,5.0,1.0,0.0,...,2.0,0.0,2.0,4.0,2.0,8.0,5.0,2.0,7.0,1.0
2,0.0,3.0,9.0,6.0,1.0,23.0,39.0,6.0,3.0,1.0,...,2.0,0.0,2.0,6.0,0.0,8.0,3.0,0.0,16.0,4.0
3,0.0,6.0,8.0,3.0,4.0,18.0,34.0,6.0,2.0,1.0,...,2.0,0.0,0.0,7.0,0.0,10.0,1.0,3.0,13.0,3.0
4,0.0,0.0,6.0,6.0,3.0,15.0,26.0,4.0,2.0,5.0,...,1.0,2.0,5.0,6.0,4.0,11.0,5.0,0.0,12.0,4.0

In [18]:
from numpy import load
result_high_expression = load('result_high_expression.npy',allow_pickle=True)
intersect_col_genes=np.intersect1d(result_high_expression, Cluster1_2_f.columns)
len(intersect_col_genes)

375

In [20]:
from numpy import save, asarray
intersect_col_genes=intersect_col_genes
intersect_col_genes=asarray(intersect_col_genes)
save('intersect_col_genes.npy', intersect_col_genes)
intersect_col_genes = load('intersect_col_genes.npy',allow_pickle=True)
intersect_col_genes

array(['ABCC5', 'ADAM15', 'ADAR', 'ADIPOR1', 'AEBP1', 'ANXA2', 'ANXA6',
       'APOC1', 'APRT', 'AQP3', 'ARF1', 'ATF4', 'ATOX1', 'ATP2A3',
       'ATP5F1E', 'ATP5MC3', 'ATP5ME', 'ATP6AP2', 'ATP6V0C', 'AZIN1',
       'BGN', 'BHLHE40', 'BRK1', 'BSG', 'BST2', 'C1QA', 'C1QB', 'C1orf43',
       'C3', 'C4orf48', 'CACYBP', 'CALM2', 'CALR', 'CAPG', 'CBX3', 'CCT3',
       'CCT5', 'CD164', 'CD46', 'CD55', 'CD74', 'CDH1', 'CHCHD2', 'CHTOP',
       'CLDN4', 'CNBP', 'COL1A2', 'COL3A1', 'COL6A1', 'COL6A2', 'COPA',
       'COPE', 'COPS9', 'COX17', 'COX5B', 'COX7A2', 'CPB1', 'CPNE3',
       'CPNE7', 'CRABP2', 'CREB3L4', 'CRIP1', 'CST3', 'CSTA', 'CTNNA1',
       'CTSB', 'CTSD', 'CTSH', 'CXCL14', 'CYB5R1', 'CYBA', 'CYC1', 'DAG1',
       'DAP3', 'DBI', 'DCN', 'DDT', 'DEGS1', 'DNAJA1', 'DNPH1', 'DSTN',
       'DYNLL1', 'EFHD1', 'EFNA1', 'EIF1', 'EIF4A2', 'ELF3', 'ELOB',
       'ENSA', 'ENY2', 'ESR1', 'EZR', 'FDPS', 'FLNA', 'FLNB', 'FLOT1',
       'FN1', 'FTH1', 'FXYD3', 'GABARAP', 'GABARAPL2', 'GAS5', 'GLO1',
       'GLUL', 'GNAI2', 'GNAS', 'GNG5', 'GPNMB', 'GPX4', 'GRINA', 'GRN',
       'GUK1', 'H1FX', 'H2AFZ', 'H3F3A', 'H3F3B', 'HAX1', 'HDGF',
       'HIST1H2AC', 'HLA-A', 'HLA-DRA', 'HMGN2', 'HNRNPA0', 'HNRNPAB',
       'HNRNPU', 'HSBP1', 'HSP90AA1', 'HSPA9', 'HSPD1', 'HSPE1', 'IDH2',
       'IFI27', 'IFI6', 'IFT122', 'IGFBP2', 'IGFBP4', 'IGFBP5', 'IGFBP7',
       'IGHA1', 'IGHG1', 'IGHG3', 'IGHG4', 'IGHM', 'IGKC', 'IL1R1',
       'IL6ST', 'ILF2', 'IMPDH2', 'ISG15', 'ITM2B', 'JTB', 'JUND',
       'KDELR2', 'KRT19', 'KRTCAP2', 'LAMB2', 'LAMTOR2', 'LAPTM4B',
       'LAPTM5', 'LASP1', 'LDLRAD4', 'LGALS1', 'LGALS3BP', 'LUM', 'LYZ',
       'MAGED2', 'MALAT1', 'MAPKAPK2', 'MARCKSL1', 'MAT2A', 'MCL1',
       'MGST3', 'MIF', 'MLPH', 'MMP11', 'MORF4L2', 'MPC2', 'MRFAP1',
       'MRPL12', 'MRPL14', 'MRPL24', 'MRPL55', 'MRPS21', 'MT-ND5', 'MT2A',
       'MUC1', 'MYL12B', 'MYL9', 'MZT2A', 'MZT2B', 'NAXE', 'NCL',
       'NDFIP1', 'NDUFA1', 'NDUFA13', 'NDUFA2', 'NDUFA4', 'NDUFAF3',
       'NDUFB4', 'NDUFB7', 'NDUFB9', 'NDUFS6', 'NHP2', 'NME2', 'NME3',
       'NORAD', 'NQO1', 'NUCKS1', 'NUPR1', 'OAZ1', 'OST4', 'P4HB',
       'PARK7', 'PARP10', 'PBX1', 'PCBP1', 'PDIA3', 'PFN1', 'PHLDA3',
       'PIEZO1', 'PLD3', 'PLEKHF2', 'PLXNB2', 'POLR2I', 'POLR2K', 'PPDPF',
       'PPT1', 'PRDX1', 'PRDX2', 'PRDX6', 'PRKAR1A', 'PSAP', 'PSMB1',
       'PSMB4', 'PSMD4', 'PTBP1', 'PTMA', 'PUF60', 'RAB11FIP1', 'RAB2A',
       'RAB7A', 'RAD21', 'RBIS', 'RBM3', 'RBX1', 'REEP5', 'RHOB', 'RHOC',
       'RNF187', 'ROMO1', 'RPL10', 'RPL10A', 'RPL11', 'RPL13', 'RPL13A',
       'RPL14', 'RPL15', 'RPL17', 'RPL18', 'RPL18A', 'RPL23A', 'RPL24',
       'RPL26', 'RPL27', 'RPL28', 'RPL29', 'RPL30', 'RPL31', 'RPL32',
       'RPL34', 'RPL35A', 'RPL36', 'RPL36A', 'RPL37', 'RPL37A', 'RPL38',
       'RPL39', 'RPL4', 'RPL41', 'RPL9', 'RPLP1', 'RPS11', 'RPS15',
       'RPS15A', 'RPS16', 'RPS19', 'RPS2', 'RPS21', 'RPS23', 'RPS26',
       'RPS27', 'RPS27A', 'RPS27L', 'RPS28', 'RPS29', 'RPS3A', 'RPS4X',
       'RPS7', 'RPS8', 'RPS9', 'RPSA', 'S100A13', 'S100A14', 'S100A16',
       'S100A4', 'S100A6', 'S100G', 'S100P', 'SDC1', 'SDC4', 'SDHC',
       'SELENBP1', 'SELENOM', 'SELENOP', 'SEMA3F', 'SERF2', 'SERP1',
       'SERPINA3', 'SFRP2', 'SH3BGRL3', 'SKP1', 'SLC39A6', 'SLC9A3R1',
       'SNHG25', 'SNRPC', 'SNRPE', 'SNRPG', 'SPARC', 'SPCS1', 'SRARP',
       'SRP14', 'SRP9', 'SSR1', 'STAT1', 'SUB1', 'TAF10', 'TAGLN2',
       'TBC1D9', 'TBL1XR1', 'TCEAL1', 'TCEAL3', 'TCEAL4', 'TFF1', 'TFF3',
       'TIMP1', 'TIMP2', 'TMA7', 'TMCO1', 'TMEM101', 'TMEM150C', 'TMEM59',
       'TMEM9', 'TMSB10', 'TNFSF10', 'TOMM20', 'TOMM6', 'TP53INP1',
       'TPD52', 'TPM3', 'TRPS1', 'TSTD1', 'TYMP', 'UBA52', 'UQCRQ',
       'VAMP8', 'VPS28', 'WBP1', 'WDR1', 'WWP1', 'XBP1', 'YIPF3', 'YWHAE',
       'YWHAQ', 'ZFAS1', 'ZNF706'], dtype=object)